In [ ]:
#interchange
data=['apple','banana','cherry']
d=data[0]
data[0]=data[-1]
data[-1]=d
print(data)

['cherry', 'banana', 'apple']

In [ ]:
#Smallerest number
list=[45,60,75,90,12]
list.sort()
print(list[0])

12

In [ ]:
#Even number
d=[1,2,3,4,5,6,7,8,9,10]
for i in d:
 if i % 2 == 0:
  print(i)

2
4
6
8
10

In [ ]:

#odd number
a=[1,2,3,4,5,6,7,8,9,0]
for i in a:
 if i % 2!= 0:
   print(i)

1
3
5
7
9

In [ ]:

#positive number
d=[1,2,-3,-5,66,-55]
for i in d:
 if i >= 0:
  print(i)

1
2
66

In [ ]:
#negative number
b=[1,2,-3,-5,6,7,-9,-6,-5]
for i in b:
 if i <= 0:
  print(i)

-3
-5
-9
-6
-5

In [ ]:

#maximum and minimum of number
tuple=(3,5,4,2,10,1)
print(max(tuple))
print(min(tuple))

10
1

In [ ]:

# convert Fahrenheit to celsius
Fahrenheit=35
celsius=(Fahrenheit-32)*5/9
print("temperature in celsius is:")
print(celsius)

temperature in celsius is:
1.6666666666666667

In [15]:
#create a list
a=['apple','banana','orange']
#append()
a.append('cherry')
print(a)
b=[1,2,3,4,5]
#extend()
a.extend(b)
print(a)
#len()
print(len(a))
#membership(in)
if 'apple' in a:
  print('true')
else :
  print('false')

['apple', 'banana', 'orange', 'cherry']
['apple', 'banana', 'orange', 'cherry', 1, 2, 3, 4, 5]
9
true

In [14]:
#membership(not in)
if 'tea' not in a:
  print('true')
else :
  print('false')

true